<p id="notice"><%= notice %></p>

<h1>Comments</h1>

<ul id="comments">
  <%= render @comments %>
</ul>

<br>

<%= form_with(model: @comment) do |f| %>
  <%= f.label :content %><br>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
