<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Genre:</strong>
  <% if @genre %>
   <%= link_to @product.genre.name, @product.genre %>
  <% else %>No associated genre
  <% end %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @product.amount %>
</p>

<p>
  <strong>Category:</strong>
  <% if @category %>
   <%= link_to @product.category.name, @product.category %>
  <% else %>No associated category
  <% end %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
